@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.button {
  background-color: #2563eb;
  border-radius: 4px;
  color: white;
  padding: 8px;
  font-size: 12px;
  width: 50%;
  margin: auto;
  display: flex;
  justify-content: center;
}
